.cardbox:hover {
  transform: scale(1.1);
}

@media (max-width: 1600px) {
  .cardbox {
    width: 100%;
  }
  .main {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .cardbox {
    width: 30%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .cardbox {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 460px) {
  .cardbox {
    width: 100%;
    height: auto;
  }
}
