.screen img {
  width: 100%;
  min-height: auto;
}

.screen {
  width: 100%;
  height: 80vh;

  border: 3px solid gray;
  overflow: clip;
}

@media (max-width: 1600px) {
}

@media (max-width: 1024px) {
  .screen {
    width: 100%;
    height: 55vh;

    border: 3px solid gray;
    overflow: clip;
  }
}
@media (max-width: 768px) {
  .screen {
    width: 100%;
    height: 40vh;

    border: 3px solid gray;
    overflow: clip;
  }
}
@media (max-width: 460px) {
  .screen {
    width: 100%;
    height: 52vh;

    border: 3px solid gray;
    overflow: clip;
  }
}
